.body {
	padding : 20px;
	background: red;
}

.heading {
	text-align: center;
}
.main {
	display :flex;
	flex-direction: row;
	flex-wrap :wrap;
	justify-content: center;

}

.trainInput {
]	margin :auto;
	flex:1;
	justify-content: center;

}

.trainEditor{
	
}


.testInput {
	margin :auto;
	flex:1;
	justify-content: center;


}

.testEditor {


}

.buttons1 {
	display: flex;
	flex-direction : row;
	justify-content: center;
	margin :auto;

}

.button1 {
	flex:1;
	flex:1;
	margin :auto;
}

.buttons2 {
	display: flex;
	flex-direction : row;
	justify-content: center;
	margin :auto;

}

.button2 {
	flex:1;
	flex:1;
	margin :auto;
}